@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options ul {
  display: flex;
  justify-content: space-evenly;
}
.options li {
  list-style: none;
}
.options a {
  text-decoration: none;
  margin-right: 48px;
}

#home {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  color: #252432;
}
#shop {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8987a1;
}
#about {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8987a1;
}
#cart {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #252432;
}
/* hero section */

.hero {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-1 {
  margin-top: 160px;
}

.hero-img {
  height: 355px;
  margin-top: 200px;
}
.orange {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #e95a08;
}

.hero-title {
    font-family: "Noto Serif", serif;
  font-size: 65px;
  font-weight: bold;
}
.hero-description {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  color: #0000005e;
}

/* product about */
.product{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    
}
.product-about{
    text-align: center;
}
.product-title{
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
}
.product-description{
     font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  color: #00000068;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
}
.p-title{
     font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.p-price{
     font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.p-btn{
    width: 270px;
    height: 50px;
    text-align: center;
    background-color: #e95a08;
    color: white;
    border: none;
        font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}

/* t-sec */
.t-sec{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 210px;
  display: flex;
  justify-content: space-between;
}
.t-about{
  padding-left: 60px;
}
.t-about ul{
  padding-left: 10px;
}
.t-title{
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
}
.t-li{
     font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  color: #00000068;
}
.t-image-wrapper {
  position: relative;
  display: inline-block;
}

.t-main-img {
  display: block;
  width: auto;
  height: auto;
}

.t-badge-img {
  position: absolute;
  top: -100px;    
  right: -100px;  
  width: 200px;
  height: auto;
  z-index: 1;
}
/* deals section */
.deals{
  max-width: 1140px;
}


/* @media screen and (max-width: 576px) {
    body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

    .logo{
        margin-left: 15px;

    }
    #cart{
        margin-right: 15px;
    }
    #home, #about, #shop{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        margin-top: 0;
    

    }
    .hero-img{
        margin-top: 20px;
        width: 393px;
        height: 245px;
        max-width: 100%;
    }
    .container-1{
    margin-top: 28px;
}

} */

@media screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .logo {
    margin-left: 15px;
  }

  #cart {
    margin-right: 15px;
  }

  #home,
  #about,
  #shop {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0 15px;
    width: 100%;
  }

  .hero-img {
    margin-top: 20px;
    width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .container-1 {
    margin-top: 28px;
    padding: 0 15px;
  }
  .hero-title {
    font-size: 24px;
    font-weight: bold;
  }
  .products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .product-about{
    margin: 28px;
  }
  .p-img{
    width: 170px;
    height: 190px;

  }
  .p-btn{
    width: 170px;
    height: 50px;
  }
  .p-container{
    text-align: center;
  }
  .t-sec{
    flex-direction: column;
    align-items: center;
  }
  .t-badge-img{
    display: none;
  }
  .t-main-img{
    width: 350px;
    height: 390px;
  }
  .t-about{
    padding-left: 0;
  }
  .t-title{
    margin-left: 17px;
    padding-left: 0;
    font-size: 24px;
  }
  .t-li{
    margin-left: 17px;
    padding-left: 0;
    font-size: 14px;
    width: 360px;
  }
  .t-image-wrapper{
    width: 350px;
  }
}
